.App {
  background-color: #14161c;
}

.App-header {
  background-color: #14161c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin: 0px 5px;
  /* margin: 40px; */
}

.header-img {
  margin-top: 15px;
  margin-left: 30em;
  width: 30%;
}
