.App {
  background-color: #14161c;
}

.App-header {
  background-color: #14161c;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: 0px;
}
